{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">
        <a class="btn btn-primary mt-4 mb-4" href="{% url 'index_page' %}" role="button">Главная страница</a>
        <div class="card">
            <img src="{{ product.main_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Название : {{ product.product_name }}</h5>
                <p class="card-text">Описание : {{ product.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Новая цена : ${{ product.new_price }}</li>
                <li class="list-group-item">Старая цена : ${{ product.old_price}}</li>
                <li class="list-group-item">Количество : {{ product.quantity}}</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-primary mb-4" type="submit">Добавить в корзину</button>
                <a class="btn btn-primary" href="#" role="button">Купить товар</a>
            </div>
            {% for i in images %}
                <img src="{{ i.image.url }}" alt="...">
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
