{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Для продолжения, введите номер телефона
                    </h2>
                </div>
{#                {{ form.as_p }}#}
                <br>
                <label class="form__input-wrap">
                    <input type="text" name="phone_number" class="form__input form__input-tel" required>
                </label>
                <button onclick="getNumber()" class="form__btn" type="submit">
                    Отправить код
                </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/registration-number.js' %}"></script>
{% endblock %}