{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-inline mt-4 mb-4" method="get">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
        <button type="button" class="btn btn-primary mb-4">Все товары</button>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Коллекции
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            {% for product in products %}
                <div class="col mt-4">
                    <div class="card">
                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.main_image.url }}" class="card-img-top" alt="..."></a>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="font-size: small">New price: ${{ product.new_price }}</li>
                            <li class="list-group-item" style="font-size: small">Old price: ${{ product.old_price }}</li>
                            <li class="list-group-item" style="font-size: small">Description: {{ product.description }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
