{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="shop-header">
            <a href="{% url 'products' %}" class="shop-prev">
                Вернуться назад
            </a>
{#            <div class="quantity">#}
{#                <span>1</span>#}
{#            </div>#}
        </div>
    </div>
    <div class="shop-content">
        <div class="container">
            <div class="shop-content-head">
                <div class="shop-ava">
                    {% for item in products %}
                        {% if item.owner.avatar %}
                            <img src="{{ item.owner.avatar.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/jpg/868-536x354.jpg' %}" alt="">
                        {% endif %}
                    {% endfor %}
                </div>
                <h4 class="ava-ttl">
                    Username
                </h4>
            </div>
            <div class="shop-filter">
                <form action="" class="search">
                    <input name="search" type="text" class="search-input" placeholder="Поиск">
                    <button type="submit" class="search-btn"></button>
                </form>
                <div class="filter-item all-products">Все товары</div>
                <div class="filter-item collections">Коллекции</div>
            </div>
            <div class="shop-grid">
                {% for item in products %}
                    <div class="shop-item">
                        <div class="shop-img-wrap">
                            <img src="{% static 'img/icon/default-image.svg' %}" alt="">
                            <a href="{{ item.get_absolute_url_for_owner }}">
                                <img src="{{ item.images.first.image.url }}" alt="" class="shop-img">
                            </a>
                        </div>
                        <h3 class="shop-item-ttl">{{ item.name }}</h3>
                        <h4 class="shop-item-subttl">{{ item.description|truncatechars:70 }}</h4>
                        <div class="shop-item-price">
                            <span class="current-price">{{ item.current_price }} с.</span>
                            <span class="old-price">{{ item.old_price }} c.</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}