{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Авторизация
                    </h2>
                    <a href="{% url 'reg-number_page' %}" class="form__reg">
                        Регистрация
                    </a>
                </div>
                <label class="form__input-wrap">
                    <input type="text" name="username" id="id_username" class="form__input form__input-tel" required>
                </label>
                <label class="form__input-wrap form__password-input-wrap">
                    <input type="password" name="password" id="id_password" class="form__input" placeholder="Введите пароль" required>
                    <div class="form__eye"></div>
                </label>
                <button onclick="getNumber()" class="form__btn" type="submit">
                    Войти
                </button>
                <a href="#" class="forget__password">
                    Забыли пароль?
                </a>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/sign-in.js' %}"></script>
{% endblock %}

