{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="shop-header">
            <a href="#!" class="shop-prev">
{#            <a href="{% url 'index-customer' shop_customer=cart.cart.product.owner.pathname %}" class="shop-prev">#}
                Вернуться на главную
            </a>
            <a href="{% url 'cart' %}">
                <div class="quantity">
                    {% if cart|length > 0 %}
                        <span>{{ cart|length }}</span>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    <div class="shop-content cart">
        <div class="container">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    <h1 class="title">
                        Корзина
                    </h1>
                    <div class="cart-grid">
                        <div class="cart-flex">
                            {% if cart %}
                                {% for product in cart %}
                                    <div class="cart-item">
                                        <div class="cart-remove">
                                            <form action="{% url 'cart_remove' slug=product.product.slug %}" method="post">
                                                {% csrf_token %}
                                                <svg id="remove-product" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.66329 9.00008L12.6126 6.05067C12.7958 5.86759 12.7958 5.57052 12.6126 5.38743C12.4293 5.20419 12.1326 5.20419 11.9494 5.38743L9.00008 8.33684L6.05064 5.38743C5.8674 5.20419 5.57066 5.20419 5.38743 5.38743C5.20419 5.57052 5.20419 5.86759 5.38743 6.05067L8.33686 9.00008L5.38743 11.9495C5.20419 12.1326 5.20419 12.4296 5.38743 12.6127C5.47904 12.7042 5.59912 12.75 5.71903 12.75C5.83895 12.75 5.95902 12.7042 6.05064 12.6126L9.00008 9.66316L11.9494 12.6126C12.041 12.7042 12.1611 12.75 12.281 12.75C12.4009 12.75 12.521 12.7042 12.6126 12.6126C12.7958 12.4295 12.7958 12.1324 12.6126 11.9493L9.66329 9.00008Z"
                                                          fill="#472F91"/>
                                                </svg>
                                                <button id='submit-remove' type="submit" hidden></button>
                                            </form>
                                        </div>
                                        <div class="cart-img">
                                            <img src="{% static 'img/icon/default-image.svg' %}" alt="">
                                            <img class="cart-pic" src="{{ product.product.images.first.image.url }}" alt="">
                                        </div>
                                        <div>
                                            <h4 class="item-ttl">
                                                {{ product.product.name }}
                                            </h4>
                                            <p class="text">{{ product.product.description }}
                                            </p>
                                            <div class="price">
                                                <span class="current-price">{{ product.product.current_price }} с.</span>
                                                <span class="old-price">{{ product.product.old_price }} с.</span>
                                            </div>
                                            <div class="calculator">
                                                <form action="{% url 'product_decrease' slug=product.product.slug %}" method="post">
                                                    {% csrf_token %}
                                                    <button class="calc-btn" type="submit">-</button>
                                                </form>
                                                <input type="text" value="{{ product.quantity }}">
                                                <form action="{% url 'product_increase' slug=product.product.slug %}" method="post">
                                                    {% csrf_token %}
                                                    <button class="calc-btn" type="submit">+</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <div class="cart-sum">
                                <h3 class="sum-title">
                                    Сумма заказа
                                </h3>
                                <div class="check-grid">
                                    <div class="check-flex">
                                        <div class="check-ttl">Общее количество:</div>
                                        {% if cart.get_total_quantity == 1 %}
                                            <div class="check-val">{{ cart.get_total_quantity }} товар ({{ total_items }} шт)</div>
                                        {% elif cart.get_total_quantity >= 2 and cart.get_total_quantity < 5 %}
                                            <div class="check-val">{{ cart.get_total_quantity }} товара ({{ total_items }} шт)</div>
                                        {% else %}
                                            <div class="check-val">{{ cart.get_total_quantity }} товаров ({{ total_items }} шт)</div>
                                        {% endif %}
                                    </div>
                                    <div class="check-flex">
                                        <div class="check-ttl">Стоимость:</div>
                                        <div class="check-val">{{ cart.get_total_price }} сом</div>
                                    </div>
                                </div>
                                <div class="check-total">
                                    <span>К оплате:</span>
                                    <span class="total-val">{{ cart.get_total_price }} сом</span>
                                </div>
                                <a href="{% url 'buy-product' %}" class="cart-sum-btn">
                                    Заказать
                                </a>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <h1 class="title">
                        Ваша корзина пуста
                    </h1>
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('.nav, .header__right').remove();
        $('#remove-product').on('click', function(event) {
            $('#submit-remove').click()
        });
    </script>
{% endblock %}